.logInModal {
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap: 15px;
  align-content: center;
}

.logInModal > h1 {
  width: 100%;
  color: #322e3f;
}

.loginErrors {
  color: #ab434a;
}

.loginInput,
.logInRedirect {
  border: 1px solid #322e3f;
  background-color: rgba(74, 135, 128, 0.15);
}

.logInRedirect:hover {
  background-color: rgba(58, 102, 115, 0.75);
  cursor: pointer;
}
