.delete-button-container {
  color: white;
  background-color: #ab434a;
}
.edit-button-container {
  color: white;
  background-color: #3a6673;
}
.add-edit-button-container {
  color: white;
  background-color: #49867f;
}
