.all-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  padding: 5px;
  padding-bottom: 20px;
}
.wishlist-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}


.delete-buttons {
  width: 40%;
  padding: 5px;
  margin: 2px 0px 0px;
  background-color: #322e3f;
  border-radius: 12px;
  border: 5px solid #322e3f;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin: 0;
  margin-bottom: 5px;

  &:hover {
    background-color: #ab434a;
    border: 5px solid #ab434a;
  }

}
.cart-button {
  width: 26%;
  text-align: center;
  padding: 5px;
  margin: 2px 0px 0px;
  background-color: hwb(173 29% 47%);
  border-radius: 12px;
  border: 5px solid hwb(173 29% 47%);
  color: white;
  font-size: 18px;
  padding: 5px;
  margin: 0;
  margin-bottom: 5px;

  &:hover {
    background-color: #322e3f;
    border: 5px solid #322e3f;
  }
}


.wishlist-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.img-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
