h1 {
    margin: 18px auto;
}

.new-product-page {
    width: 100%;
}

#product-submit {
    background-color: #322e3f;
    color: white;
}

.productForm {
    margin: 0 auto;
    width: 50%;
    height: fit-content;

    background-color:#d5d5d5;
    padding: 15px;
    border-radius:6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.new-product-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 8%;

}

/* input, textarea, select {
    margin-bottom: 15px;
    margin-left: 10px;
} */

.new-product-label {
    color: #49867f;
    font-weight: 500;
}

input[type=text], input[type=number], textarea, select {
    border: .5px solid rgba(0,0,0,0.12);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 12px;
    width: 200px;

    margin-bottom: 15px;
    margin-left: 10px;


}

input[type=file] {
    margin-bottom: 5 px;
    margin-left: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 20px;

}

.new-product-btns {
    display: flex;
    justify-content: space-between;
    width: 90%;

}

.submit-create {
    font-size: 18px;
    width: 40%;
    color: #ffffff;
    background-color: #322e3f;
    border-radius: 12px;
    cursor: pointer;

    position: relative;
    padding: 5px;
}
.submit-create:hover {
    background-color: #49867f;
    border: 1px solid #322e3f;
}


.cancel-create {
    font-size: 18px;
    width: 40%;
    color: #ffffff;
    border-radius: 12px;
    background-color: #ab434a;
    cursor: pointer;

    position: relative;
    padding: 5px;
}
.cancel-create:hover {
    background-color: #49867f;
    border: 1px solid #322e3f;
}
