/*Ann delete from cart*/

/* .delete-cart-modal {
    padding: 50px;

}

#delete-btn {
    font-size: 18px;
    width: 50%;
    color: #ffffff;
    border: 5px solid #ab434a;
    border-radius: 12px;
    background-color: #ab434a;
    cursor: pointer;

    position: relative;
    padding: 15px;


}
#delete-btn:hover {
    background-color: #49867f;
    border: 5px solid #322e3f;
}


#keep-btn {
    font-size: 18px;
    width: 50%;
    color: #ffffff;
    border: 5px solid #322e3f;
    background-color: #322e3f;
    border-radius: 12px;
    cursor: pointer;

    position: relative;
    padding: 15px;

    margin-top: 5%;
}
#keep-btn:hover {
    background-color: #49867f;
    border: 5px solid #322e3f;
} */


/*Ann delete from cart*/
