/*Ann delete from cart*/

/* .delete-cart-modal {
    padding: 50px;

}

#delModalTitle {
  text-align: center;
}

#delModalText {
  text-align: center;
  max-width: 300px;
  font-size: 20px;
  /* text-wrap: wrap; */
/* } */

#delModalButtons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

#delete-btn,
#keep-btn {
  padding: 5px;
}

.delete-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#delete-btn {
  width: 75%;
  padding: 10px;
  background-color: green;
  color: white;
  margin: 0;
  margin-bottom: 3px;
}

#keep-btn {
  width: 75%;
  padding: 10px;
  background-color: black;
  color: white;
  margin: 0;
  margin-bottom: 3px;
}

#deleteReviewModel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 15px;
}

#deleteReviewModel:hover {
  background-color: #ab434a;
  border: 5px solid #ab434a;
}

#delReviewModalTitle {
  text-align: center;
}

#delReviewModalText {
  text-align: center;
  max-width: 300px;
  font-size: 20px;
  /* text-wrap: wrap; */
}

#delReviewModalButtons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
  width: 100%;
}

#delete-review-btn,
#keep-review-btn {
  padding: 10px;
  font-size: 18px;
  color: white;
  border-radius: 12px;
  width: 100%;
}

#delete-review-btn {
  background-color: #49867f;
  border: 5px solid #49867f;
}
#delete-review-btn:hover {
  background-color: #49867f;
  border: 5px solid #322e3f;
  color: #322e3f;
}

#keep-review-btn {
  background-color: #e2dcc2;
  border: 5px solid #e2dcc2;
}
#keep-review-btn:hover {
  background-color: #e2dcc2;
  border: 5px solid #322e3f;
  color: #322e3f;
}
