#product-images-container {
  /*   display: grid;
  grid-template-areas:
    "image2 main main"
    "image3 main main"
    "image4 main main"
    "image5 main main"
    "image6 main main";
  grid-template-columns: 10% 45% 45%;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px; */
  height: 400px;
  margin: auto;
  max-width: 750px;
  min-width: 500px;
}

#image-buttons {
  position: absolute;
  width: 750px;
  top: 525px;
  display: flex;
  justify-content: space-between;
}

#change-photo-down,
#change-photo-up {
  background-color: rgba(255, 255, 255, 0);
  width: fit-content;
  color: rgba(255, 255, 255, 0);
  font-size: 50px;
}

#change-photo-down:hover,
#change-photo-up:hover {
  background-color: rgba(255, 255, 255, 0);
  color: grey;
  width: fit-content;
  font-size: 50px;
  display: flex;
}

#product-images-container > img {
  grid-area: main;
  height: 400px;
  width: 100%;
}
/* #product-images-container > img:nth-child(2) {
  grid-area: image2;
  height: 200px;
  width: 100%;
}
#product-images-container > img:nth-child(3) {
  grid-area: image3;
  height: 200px;
  width: 100%;
}
#product-images-container > img:nth-child(4) {
  grid-area: image4;
  height: 200px;
  width: 100%;
}
#product-images-container > img:nth-child(5) {
  grid-area: image5;
  height: 200px;
  width: 100%;
}
#product-images-container > img:nth-child(6) {
  grid-area: image6;
  height: 200px;
  width: 100%;
} */
img {
  width: 1000px;
  height: auto;
}
.add-button > button {
  font-size: 18px;
  width: 25%;
  color: #ffffff;
  border: 5px solid #3a6673;
  border-radius: 12px;
  background-color: #3a6673;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.add-button > button:hover {
  background-color: #e2dcc2;
  color: #322e3f;
  border: 5px solid #322e3f;
}
#product-images-container {
  text-align: center;
}
#product-show {
  margin: 0 10px;
}
#product-name {
  text-transform: capitalize;
}
.add-button {
  font-size: 18px;
  width: 25%;
  color: #ffffff;
  border: 5px solid #3a6673;
  border-radius: 12px;
  background-color: #3a6673;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.add-button > button:hover {
  background-color: #e2dcc2;
  color: #322e3f;
  border: 5px solid #322e3f;
}
#product-images-container {
  text-align: center;
}
#product-show {
  margin: 0 10px;
}
#product-name {
  text-transform: capitalize;
}
