.nav-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

  width: 100%;
  height: 70px;
  padding: 20px;

  /* background: url(../../assets/wave.svg);
  background-size: cover;
  background-repeat: no-repeat; */

  background-color: #fae27f;
}

.nav-sub-container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 4%;
}

.nav-sub-container > * {
  margin-right: 40%;
}

.category {
  background-color: #322e3f;
  color: #efebeb;
  border: 3px solid #322e3f;
  border-radius: 6px;
  margin-left: 20px;
  padding: 10px;

  cursor: pointer;
}
.search-bar {
  text-align: center;
  width: 30%;
  border: 2px solid #322e3f;
  background-color: #efebeb;
  color: #322e3f;
  padding: 10px;
  border-radius: 6px;

  cursor: text;
}

.nav-btn {
  transition: transform 250ms;
}

.nav-btn:hover {
  transform: translateY(-10px);
}

/*Ann dropdown profile*/

.profile-dropdown {
  display: flex;
  top: 10%;
  right: 25px;
  margin: 5px;
  cursor: context-menu;
  flex-direction: column;
  width: fit-content;
  text-align: center;
  position: absolute;
}

.hidden {
  display: none;
}
