.nav-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;

  width: 100%;
  height: 250px;

  background: url(../../assets/wave.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-sub-container1 {
  display: flex;
  align-items: center;
  margin-left: 4%;
}
.nav-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-top: 3%;
  margin-right: 5%;
}
.nav-sub-container > * {
  margin-right: 40%;
}

.category {
  background-color: #322e3f;
  color: #efebeb;
  border: 3px solid #322e3f;
  padding: 10px;
  border-radius: 6px;
  margin-left: 20px;

  cursor: pointer;
}
.search-bar {
  text-align: center;
  width: 300px;
  border: 3px solid #322e3f;
  background-color: #efebeb;
  color: #322e3f;
  padding: 10px;
  border-radius: 6px;

  cursor: text;
}


.nav-btn {
  transition: transform 250ms;
}

.nav-btn:hover {
  transform: translateY(-10px);
}

/*Ann dropdown profile*/

/* .profile-dropdown {
  color: #a93d44;
  position: absolute;
  background-color: #e2dcc2;
  border: 1px solid #322e3f;
  border-radius: 15px;
  color: #322e3f;
  padding: 25px;
  list-style: none;

  z-index: 10000;
}

/* .dropdown-btn {
  color: #f0efeb;
  border-radius: 12px;
  border: 1px solid #a93d44;
  background-color: #a93d44;
  cursor: pointer;

  padding: 5px;
} */

/* .dropdown-btn:hover {
  background-color: #322e3f;
  border: 1px solid #322e3f;;
} */

/*Ann dropdown profile*/
  /* display: flex; */
  /* right: 25px; */
  /* flex-direction: column; */
  /* text-align: center; */
  top: 15%;
  right: 50px;
  list-style-type: none;
  cursor: pointer;
  border: 1px solid #dddddd;
  background-color: #fbfbfb;
  border-radius: 12px;
  width: fit-content;

  padding: 15px;
  margin-bottom: 4px;

  z-index: 10000;
} */

/* .dropdown-btn {
  color: #f0efeb;
  border-radius: 12px;
  border: 1px solid #a93d44;
  background-color: #a93d44;
  cursor: pointer;

  padding: 5px;
} */

/* .dropdown-btn:hover {
  background-color: #322e3f;
  border: 1px solid #322e3f;
}

.hidden {
  display: none;
}

.nav-link {
  color: #322e3f;
}

.nav-link {
  color: #322e3f;
}
