.add-review-button-container {
  background-color: #49867f;
  width: 70%;
  color: white;
  border: 5px solid #49867f;
  border-radius: 12px;
}
#add-review {
  background-color: #e2dcc2;
  border: 5px solid #e3dcc2;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
  padding: 15px;
  margin: 0;
  margin-bottom: 5px;
  width: 50%;
  cursor: pointer;
}
#add-review:hover {
  background-color: #3a6673;
  border: 5px solid #3a6673;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
  width: 50%;
  cursor: pointer;
}
.title {
  font-size: 40px;
  margin-top: 10px;
  padding: 0 10px;
  margin-bottom: 0;
}
.form {
  width: 100%;
}
.textarea {
  width: 90%;
  font-size: 20px;
}
.textarea.textarea {
  display: flex;
  justify-content: center;
}
.stars {
  font-size: 30px;
}
