.editAccountFormContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editAcctInput {
  border: 1px solid #322e3f;
  background-color: rgba(74, 135, 128, 0.15);
}

.editAcctButtonsContainer {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
#editButton {
  padding: 5px 10px;
}
