.signUpPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.signUpTitle {
  width: 100%;
  color: #322e3f;
}

.signUpInput {
  border: 1px solid #322e3f;
  background-color: rgba(74, 135, 128, 0.15);
}

.signUpErrors {
  color: #ab434a;
}

.signUpButton {
  border: 1px solid #322e3f;
  background-color: rgba(74, 135, 128, 0.5);
  cursor: pointer;
}
.signUpButton:hover {
  background-color: rgba(58, 102, 115, 0.75);
}

.redirectToLogIn {
  text-decoration: none;
  color: #322e3f;
}
